
@{
    ViewBag.Title = "Therapist";
}
<center><h1 class="h1Logo">Therapist Profiles</h1></center>

<div class="therapistdesc"> 
    <div class="therapistimg">
        <img src="~/Content/TherapistProfilePics/CalebProfile Pic.png" class="img-rounded" alt="Caleb Hayes" width="250" height="182">
    </div>

    <p>
        <strong> Caleb Hayes:</strong> My personal philosophy is that everyone is already a superstar, but
        sometimes we need help to stay on track. I am committed to taking care of the technical side of things
        like program design, injury complications and general support to free you up to be awesome! Let’s work
        together to achieve the new you!
    </p>
</div>


    <div class="therapistimg">
        <img src="~/Content/TherapistProfilePics/BenProfilePic.png" class="img-rounded" alt="Ben Luangrath" width="250" height="182">
    </div>
    <p> <strong> Ben Luangrath:</strong> Shredding all day on my guitar helped me get buff, but I am also a
        professional fitness competitor. I will bring my many years of fitness training to the table when helping
        you get into the best shape of your life. It doesn’t matter where you are starting, I will help you create
        a plan to get you rocking and rolling.
    </p>
   


<div class="therapistdesc">
    <div class="therapistimg">
        <img src="~/Content/TherapistProfilePics/BeckyProfilePic.png" class="img-rounded" alt="Becky Somers" width="250" height="182">
    </div>
    <p>  <strong> Becky Somers:</strong> As a certified aerobics instructor and Jazzercise enthusiast I know exactly
        how to spice up your workout routine. I specialize in recovering from injury and will help you modify
        any workout routine until you are back on your feet. Together we can overcome your fitness challenges
        and get you on the path to a healthier and happier lifestyle!
    </p>
</div>

    <div class="therapistdesc">
    <div class="therapistimg">
        <img src="~/Content/TherapistProfilePics/EricaProfilePic.png" class="img-rounded" alt="Erica Thiel" width="250" height="182">
    </div>
    <p>  <strong> Erica Thiel:</strong> I know firsthand how hard it is to balance a busy life with personal health
        and exercise. My specialty is helping you find time and a workout that is right for your life. As a busy
        cat mom myself, I know that I can help you achieve your goals without sacrificing. We will build your
        routine around your life and find something prrrrrrfect! You will be meeting your personal goals in no
        time!
    </p>
</div>

<div class="therapistdesc">
    <div class="therapistimg">
        <img src="~/Content/Images/HeatherProfilePic.png" class="img-rounded" alt="Heather House" width="250" height="182">
    </div>
    <p>
        <strong> Heather House:</strong> I am here to help you bust through those plateaus and forge on to exercise
        victory! I am an accomplished swordswoman and fencer and competition has taught me how to work through
        challenges in order to meet personal goals. I will be there every step of the way to assist you on your
        exercise journey.
    </p>
</div>


<div class="therapistdesc">
    <div class="therapistimg">
        <img src="~/Content/TherapistProfilePics/KatieProfilePic.png" class="img-rounded" alt="Katie Thompson" width="250" height="182">
    </div>
    <p>  <strong> Katie Thompson:</strong> Years of studying martial arts has helped me formulate focused and
        disciplined exercise regimens to optimize your routine and get you back on the path to health and happiness.
        You have a dragon inside of you waiting to fly. Let me help you unlock it.
    </p>
</div>



