
@{
    ViewBag.Title = "Therapist";
}

<center><h2>Therapist Profiles</h2></center>

<div class="therapistimg"><img src="~/Content/CalebProfile Pic.png" class="img-rounded" alt="Caleb Hayes" width="250" height="182">
</div>
<div class="therapistdesc">
    <p>
        <strong> Caleb Hayes:</strong> My personal philosophy is that everyone is already a superstar, but
        sometimes we need help to stay on track. I am committed to taking care of the technical side of things
        like program design, injury complications and general support to free you up to be awesome! Let’s work
        together to achieve the new you!
    </p>
</div>

