@{
    ViewBag.Title = "About us";
}

<h1 class="h1Logo">@ViewBag.Title</h1>

<img src="~/Content/Uploads/physical-therapy.jpg" alt="Therapy" width="450" height="300">

<p>
    Body Tune is comprised of a team of committed and caring therapists who strive to empower individuals to regain their health and wellness.
    Through personal training and injury repairing exercise, we are dedicated to helping you repair and retrain your body, allowing you to regain your strength and mobility.
    We adhere closely to a set of core values that help us to ensure that all of our clients become the person they want to be and achieve their physical wellness goals.
    Our specialty is life-changing fitness achieved through therapist prescribed exercise plans and close personal attention to each of our clients.
    This is achieved one step at a time, giving each client time to progressively adjust to their life changes while they gain mobility, strength and energy. Here at Body Tune we are ready to support you every step of the way.
</p>
