
@{
    ViewBag.Title = "Mission";
}

<h1 class="h1Logo">Mission</h1>

<h2 class="h1Logo">Body Tune Mission</h2>

<p>
    Here at Body Tune, our mission is to help you get stronger through a specially designed, personalized exercise regimen.
    In order to help you achieve your goals we adhere to a 5 part methodology.
</p>

<p>
    Commitment: As trainers, we commit ourselves 100% to our clients and always give our best when coming up with exercise
    programs to help them achieve their personal goals. In turn we expect that our clients are dedicated to their health and ready to make positive life changes.
</p>

<p>
    Empowerment: We are committed to empowering all of our clients to make the positive changes to their health that
    will lead them to their ultimate goals. We are excited to give you the tools to increase your confidence and lead you down the path of healthy life choices.
</p>

<p>
    Ownership: We help our clients to realize that they are truly responsible for their actions and outcomes.
    By taking ownership you will hold the reins of your own results and successes. Our trainers are here to help instill ownership in our clients to lead them to the
    ultimate achievement of their goals through accountability.
</p>

<p>
    Consistency: One of the most powerful tools we try to instill in our clients is consistency.
    If they are consistent in their actions and disciplined in their work they will achieve great results.
    We teach our clients that consistency over time leads to life-long health and fitness. Change doesn’t happen overnight, but rather 1% at a time.
</p>

<p>
    Fun: Most importantly we teach our clients that achieving fitness through the incorporation of activities that they enjoy doing will help them look forward to exercise.
    Incorporating healthy activity into each day, and involving family and friends is the best way to stay on track and enjoy yourself while you do it.
</p>